# ignore everything in the root except the "wp-content" directory.
!dist/cms/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
dist/cms/wp-content/*
!dist/cms/wp-content/mu-plugins/
!dist/cms/wp-content/plugins/
!dist/cms/wp-content/themes/

# ignore these plugins
dist/cms/wp-content/plugins/hello.php

# ignore specific themes
dist/cms/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/
archive/

# ignore log files and databases
*.log
*.sql
*.sqlite
* copy.*
* copy/

src/img/dummy/
workFile/*


＃ Over 10MB
dist/assets/doc/zaiko.xlsm
src/img/home-visual@2x.png