.p-block-fullscreen {
  padding-top: 100dvh;
  z-index: 1;
  position: relative;
  &__box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.is-loaded {
      iframe {
        opacity: 1;
        visibility: visible;
      }
    }
    &--sp-absolute {
      @include mq_medium_max {
        position: absolute;
      }
    }
  }
  &__cont {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    z-index: 3;
    padding: 40px 8vw;
    width: calc(100% - (var(--margin-side) * 2));
    border-radius: 2px;
    @include mq_medium(800px) {
      top: 50%;
      width: auto;
      padding: 80px 60px;
      display: flex;
      align-items: center;
      display: inline-flex;
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
    }
  }
  &__copy {
    @include fz_vw_sp(21.5);
    p {
      letter-spacing: 0.08em;
      text-align: left;
      @include mq_medium(800px) {
        text-align: center;
      }
    }
    @include mq_medium(800px) {
      flex-basis: calc(100% - 190px);
      white-space: nowrap;
      margin-left: 60px;
      @include fz_vw(40);
      p {
        text-align: left;
        letter-spacing: 0.1em;
      }
    }
  }
  &__logo {
    text-align: center;
    display: none;
    @include mq_medium(800px) {
      flex: 0 0 10vw;
      display: block;
    }
    img {
      width: 30%;
      max-width: 70px;
      @include mq_medium(800px) {
        width: 100%;
        max-width: initial;
      }
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: kv 6s ease-out 0s 1 normal forwards;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #fff, $alpha: 0.4);
      z-index: 2;
    }
    @include mq_max_p {
      width: 140%;
      left: -40%;
    }

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    // height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    // min-height: 100%;
    // min-width: 100%;
    // pointer-events: none;
    // opacity: 0;
    // visibility: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
  }
}
