.p-button-pdf {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 8px 16px;
  transition: 0.2s;
  position: relative;
  padding-right: 48px;
  min-width: 200px;
  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    @include aicon-doc-text;
  }
  &:hover {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--green);
    ::after {
      color: var(--white);
    }
  }
  &__item {
    display: inline-block;
  }
}
