.p-button-gf {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  &:hover {
    color: var(--green-dark);
  }
  &__item {
    display: inline-block;
    position: relative;
    padding-left: 34px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/ico-googleform.svg) no-repeat left center;
      width: 24px;
      height: 33px;
    }
  }
}
